@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
#heading{
    text-align: center;
    padding-top: 90px;
}

                      /* This is header part*/
                      .header{
                        height: 80px;
                        background-color: white;
                    }
                    
                    .line {
                        height: 1px;
                        background-color: rgb(168, 168, 168);
                    }
                    
                    a {
                        color: black;
                        text-decoration: none;
                    }
                    .header{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        font-weight: 650;
                        font-size: 16px;
                    }
                    
                    
                    .logo img{
                        height: 85px;
                        width: 260px;
                    }
                    
                    .doctor #hn {
                        font-size: 14px;
                        font-weight: 550;
                    }
                    
                    
                    .get {
                        margin-right: 50px;
                        margin-left: 40px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        height: 55px;
                        width: 140px;
                        background-color: #7bdeff;
                        border-radius: 20px;
                        box-shadow: 2px 1px rgb(176, 176, 176);
                    }
                    
                    .get:hover {
                        margin-right: 50px;
                        margin-left: 40px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        height: 55px;
                        width: 140px;
                        background-color: #00befd;
                        border-radius: 20px;
                        box-shadow: 2px 1px rgb(176, 176, 176);
                    }
                    
                    .get p {
                        font-size: 15px;
                    }
                    
                    .get #st {
                        align-self: flex-start;
                        padding-left:22px;
                    }
#skk{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 30px;
    
    
}
#ssk{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: 'Poppins', sans-serif;

}


.test{
    background-color: #afe4f6;
    height: 100px; 
    width: 100px;  
}
 .lab img{
   padding-Left: 30px;
    height:300px;
    width:300px;
    border-radius: 23px;
  }
 .lab ul{
    padding-top: 10px;
   
 } 
 .test img{
    
    padding-right: 70px ;
    height:200px;
    width:200px;
 }

.lab p{
    font-size: 20px;
    text-align: center;
    padding-bottom: 10px;
}

 h2{
    padding-top: 10px;
    font-family: 'Poppins', sans-serif;
    
 }
 .test h4{
   padding-left: 40px;
   font-family: 'Poppins', sans-serif;
 }
 .lab ul{
    padding-left: 100px;
    font-family: 'Poppins', sans-serif;
 }
.section h1{
    padding-left: 50px;
    font-family: 'Poppins', sans-serif;
 }
#heading{
    font-family: 'Poppins', sans-serif;
}
#skk{
    background-color: #2DBAEB;
}
.section {
    background-color: #afe4f6;
    height: 50px;
}
